 $third-color: rgb(23, 162, 184);
 Form {
     max-width: 400px;
     min-width: 260px;
     width: 80vw;
     text-align: center;
 }
 
 .center {
     display: flex;
     flex-direction: column;
     height: 100vh;
     justify-content: center;
     align-items: center;
 }
 
 .title {
     min-width: 260px;
     font-weight: 700;
     font-size: 3em;
     margin-top: 4em;
     text-align: center;
     color: $third-color;
 }
 
 @media all and (max-width: 400px) {
     .title {
         font-size: 2.3em;
     }
 }
 
 @media all and (max-width: 320px) {
     .title {
         font-size: 2.1em;
     }
     .nav.navbar {
         font-size: 2.1em;
         width: 100%;
     }
     .movie-card {
         max-width: 100%;
     }
 }