    $third-color: rgb(23, 162, 184);
    Form {
        max-width: 400px;
        min-width: 260px;
        width: 80vw;
    }
    
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        min-width: 260px;
        font-weight: 700;
        font-size: 4em;
        text-align: center;
        color: $third-color;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    
    @media all and (max-width: 400px) {
        .title {
            font-size: 2.3em;
        }
    }
    
    @media all and (max-width: 320px) {
        .title {
            font-size: 2em;
        }
    }